.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  padding-right: 30px;
  max-width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  z-index: 999999;
}

.mobile-menu.show-mobile-menu {
  opacity: 1;
  visibility: visible;
}

.mobile-menu .menu-backdrop {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #ff7a21;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
  transition: all 900ms ease;
  -moz-transition: all 900ms ease;
  -webkit-transition: all 900ms ease;
  -ms-transition: all 900ms ease;
  -o-transition: all 900ms ease;
}
.mobile-menu .menu-backdrop.show-menu-backdrop {
  opacity: 0.7;
  visibility: visible;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  line-height: 30px;
  width: 24px;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}
.mobile-menu .close-btn {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile-menu .close-btn svg {
  width: 16px;
  height: 24px;
}

.mobile-menu .close-btn:hover {
  color: #ff7a21;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mobile-menu .menu-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  background: #202020;
  padding: 0px 0px;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  border-radius: 0px;
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
}
.mobile-menu .menu-box.show-menu-box {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.menu-box__inner {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  outline: 0;
  direction: ltr;
}
.menu-box__container {
  overflow: hidden;
  width: auto;
  height: auto;
  margin-right: 5px;
  position: relative;
  top: 0;
  left: 0;
}
.nav-log__image {
  position: relative;
  padding: 20px 25px;
  text-align: left;
}
.navbar-collapse {
  display: block !important;
}
.mb-navigation {
  position: relative;
  display: block;
  width: 100%;
  float: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
}
.mb-navigation li {
  position: relative;
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
}
.mb-navigation li > a {
  display: block;
  line-height: 24px;
  padding: 10px 25px;
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 500ms ease;
  text-decoration: none;
}

.mb-navigation li > a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-left: 5px solid #ff7a21;
  transition: all 500ms ease;
  height: 0;
}

.mb-navigation li.current > a::before {
  height: 100%;
}
.mb-navigation li.current > a,
.mb-navigation li > a:hover {
  color: #ff7a21;
}

.mobile-menu .navigation-social {
  position: relative;
  text-align: center;
  padding: 30px 25px;
  margin: 0;
}
