.header-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header-top__inner {
  padding: 2.1rem 0;
}
.header-top__left-text {
  color: #fff;
  font-size: 1.5rem;
}

.header-top__social-item {
  margin-left: 3rem;
  list-style: none;
}

.header-top__social-link {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
.header-top__social-link:hover {
  color: #ff7a21;
  text-decoration: underline;
}

/* Extra Small Devices (Portrait Phones & Smaller Devices) */
@media (max-width: 576px) {
  .header-top__left {
    display: none;
  }
  .header-top__inner {
    justify-content: center;
  }
}
