.header-top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header-top__inner {
  display: flex;
  justify-content: space-between;
  padding: 17px 0px;
}
.header-top__left-text {
  color: #fff;
  font-size: 1.5rem;
}
.header-top__social {
  display: flex;
}

.header-top__social-item {
  margin-left: 30px;
}

.header-top__social-link {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}
.header-top__social-link:hover {
  color: #ff7a21;
  text-decoration: underline;
}
