.main-header {
  position: absolute;
  left: 0;
  top: 0;
  /* display: block; */
  width: 100%;
  z-index: 9999;
  background: none;
}

/* Small Devices (Portrait Tablets & Small Desktops) */
@media (max-width: 992px) {
  .main-header {
    position: relative !important;
  }
}
