.sticky-header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 71px;
}
.sticky-header {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 0px;
  top: 0px;
  width: 100%;
  padding: 0px 0px;
  z-index: -1;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: top 300ms ease;
  -moz-transition: top 300ms ease;
  -ms-transition: top 300ms ease;
  -o-transition: top 300ms ease;
  transition: top 300ms ease;
}
.show-sticky-header {
  opacity: 1;
  z-index: 99901;
  visibility: visible;
}
.sticky-header .navigation__link > span {
  padding: 2.45rem 0 2.45rem 0;
  border: none;
  color: #25283a !important;
  font-weight: 600;
}
.sticky-header .navigation__link.active > span {
  color: #ff7a21 !important;
}

.sticky-header .navigation__link > span:hover {
  color: #ff7a21 !important;
  text-shadow: 0px 0px 30px #ff7a21, 0px 0px 30px #ff7a21;
}

/* Small Devices (Portrait Tablets & Small Desktops) */
@media (max-width: 992px) {
  .sticky-header {
    display: none;
  }
}
